@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap");

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    overflow: hidden;
    font-family: "Fira Code", monospace;
}

#myDiv {
    margin: 50px 100px;
}
